<% provide(:title, @taxon.name) %>
<% content_for :add_breadcrumb do %>
  <li><%= link_to "Shop", "#" %></li>
<% end %>
<%= render 'shared/light_section' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'potepan/categories/left_panel', taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/categories/filter_area' %>
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-4 col-xs-12">
              <div class="productBox">
                <%= link_to potepan_product_path(product.id) do %>
                  <div class="productImage clearfix">
                    <%= image_tag product.images.first.attachment(:product), alt: "#{product.name} の画像" %>
                  </div>
                  <div class="productCaption clearfix">
                    <h5><%= product.name %></h5>
                    <h3><%= product.display_price %></h3>
                  </div>
                <% end %>
              </div>
            </div>          
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/logo_slider' %>